<!DOCTYPE html>
<html>
<head>
    <title>CSV Processing</title>
</head>
<body>
    <div class="upload">
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="csvfile" accept=".csv">
            <button type="submit">Upload CSV</button>
        </form>
    </div>

    
    <div>
        <h1>CSV Processing Results</h1>
        {% if df_head_html %}
        <div class="table-representation">
            {{df_head_html|safe}}
        </div>
        {% else %}
        <p>No Data to Display</p>        
        {% endif %}
        <a href="/">Back to Home</a>
    </div>
    </body>
</html>