<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSV Data Transforming and Analyzing App</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body style="background-color: black;">
    <header class="header-main">
        <div class="header-main-logo">
            <img src="../static/images/csv_logo.jpg" alt="csv logo">
        
            <nav class="header-main-nav">

                 <ul>
                    <li>HOME</li>
                    <li><a href="/upload">DATA</li></a>
                    <li>TRANSFORMATIONS</li>
                    <li><a href="analysis.html">ANALYSIS</li></a>>
                    <li>ABOUT US</li>
                    <li>CONTACT</li>
                </ul>
            </nav>
        </div>    

    </header>
    <center>

    <div class="greet">
        <h1>Welcome to CSV Transforming & Analyzing Tool</h1>
    </div>

    
    
    </center>
    
</body>
</html>